---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { PHOTOS } from "@consts";

const data = (await getCollection("photos"))
  .filter(collection => !collection.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  
type Acc = {
  [year: string]: CollectionEntry<"photos">[];
}

const collections = data.reduce((acc: Acc, collection) => {
    const year = collection.data.date.getFullYear().toString();
    if (!acc[year]) {
      acc[year] = [];
    }
    acc[year].push(collection);
    return acc;
  }, {});

const years = Object.keys(collections).sort((a, b) => parseInt(b) - parseInt(a)); 
---

<PageLayout title={PHOTOS.TITLE} description={PHOTOS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Photos
      </div>
      <div class="space-y-4">
        {years.map(year => (
          <section class="animate space-y-4">
            <div class="font-semibold text-black dark:text-white">
              {year}
            </div>
            <div>
              <ul class="flex flex-col gap-4">
                {
                  collections[year].map((collection) => (
                    <li>
                      <ArrowCard entry={collection}/>
                    </li>
                  ))
                }
              </ul>
            </div>
          </section>
        ))}
      </div>
    </div>
  </Container>
</PageLayout>